asgiref==3.8.1
Django==5.0.6
django-background-tasks==1.2.8
django-cors-headers==4.7.0
django-crispy-forms==2.4
django-environ==0.12.0
djangorestframework==3.16.0
mysqlclient==2.2.4
psycopg2-binary==2.9.10
gunicorn==23.0.0
whitenoise==6.11.0
python-dotenv==1.0.1
requests==2.31.0

